project_name = "shelfsense-it"
environment  = "dev"
aws_region   = "eu-central-1"
owner        = "devops-student"

vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
availability_zone  = "eu-central-1a"

ssh_allowed_cidr = "YOUR_PUBLIC_IP/32"
key_pair_name    = "YOUR_EXISTING_AWS_KEY_PAIR"
instance_type    = "m7i-flex.large"
root_volume_size = 30
